@use '../base/variables' as *;

.footer {
    position: relative;
    width: 100%;
    height: 60%;
    min-height: 470px;
    overflow: hidden;
    font-family: $font-family-base;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;


    .marquee-background {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        opacity: 0.8;
        

        .marquee-block {
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            line-height: 1.1;
            margin-bottom: 1.5vh;
            writing-mode: horizontal-tb;
            flex-shrink: 0;
        }

        .marquee-wrapper {
            display: inline-flex;
        }

        .marquee-text {
            font-size: 6.25rem;
            font-weight: 900;
            flex-shrink: 0;
            padding-right: 3.125rem;
            color: transparent;
            -webkit-text-stroke: 1px $mint-green;
        }
    }

    .links-footer {
        position: absolute;
        top: 30%;
        z-index: 10;
        width: 100%;
        height: 150px;
        display: flex;
        flex-wrap: wrap;
        align-items: end;


        .big-marquee-layer {
            display: flex;
            align-items: center;
            pointer-events: none;

            .marquee-row {
                width: 100%;
                overflow: hidden;
                white-space: nowrap;
            }

            .marquee-wrapper {
                display: inline-flex;
                align-items: center;
            }

            .big-text {
                font-size: 6.25rem;
                font-weight: 900;
                color: $forest-text;
                -webkit-text-stroke: 2px $forest-text;
                margin-right: 6.25rem;
                display: flex;
                align-items: center;
            }

            .capsule {
                display: inline-block;
                width: 112.5rem;
                height: 6.25rem;
                background-color: $forest-text;
                border-radius: 6.25rem;
                margin: 0 0.625rem;
                transform: translateY(1vh);
            }
        }

        .link {
            background-color: $mint-green;
            color: $deep-green;
            border-radius: 1.25rem;
            height: 2.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            font-size: 1rem;
            box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
            transition: transform 0.2s ease, box-shadow 0.2s ease;
            text-decoration: none;
            white-space: nowrap;

            &:hover {
                transform: translateY(-0.15rem);
                box-shadow: 0 0.375rem 0.75rem rgba(0, 0, 0, 0.15);
            }
        }

        .first-row,
        .second-row,
        .third-row {
            width: 66%;
            max-width: 1200px;
            height: 33.333333%;
            display: flex;
            gap: 1%;
        }

        .link-home,
        .link-forum,
        .link-explore {
            width: 3.75rem;
        }

        .link-traveler,
        .link-itinerary {
            width: 4.6875rem;
        }

        .link-contact {
            width: 5.625rem;
        }

        .link-social {
            width: 7.5rem;
            justify-content: space-around;

            img {
                width: 1.25rem;
                height: 1.25rem;
                transition: 0.2s;

                &:hover {
                    // opacity: 0.5;
                    scale: 1.2;
                }
            }
        }

        .logo {
            width: 14.75rem;
            color: $logo-green;
            text-decoration: none;
            display: flex;
            align-items: center;
            gap: 0.2rem;

            .brand-name {
                font-weight: bold;
                font-size: 1.125rem;
            }

            img {
                width: 1rem;
                height: auto;
            }
        }

        .copyright {
            width: 18.75rem;
            font-size: 0.875rem;
            color: $white;
            display: flex;
            align-items: center;
            height: 2.5rem;
        }
    }
}

@media (max-width: 768px) {
    .footer {
        height: auto;
        min-height: 100dvh;

        .marquee-background {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;

            .marquee-block {
                width: 25%;
                height: 100%;
                writing-mode: vertical-rl;
                text-orientation: mixed;
            }

            .marquee-wrapper {
                display: inline-block;
            }

            .marquee-text {
                font-size: 3rem;
                padding-right: 0;
                padding-bottom: 2rem;
                -webkit-text-stroke: 0.5px $mint-green;
            }
        }


        .links-footer {
            top: 0;
            height: 100vh;
            width: 100%;
            box-sizing: border-box;
            align-items: start;
            align-content: center;

            .big-marquee-layer {

                .marquee-wrapper {

                    .big-text {
                        font-size: 7vh;
                    }

                    .capsule {
                        width: 30rem;
                        height: 6vh;
                        border-width: 2px;
                    }
                }
            }

            .first-row,
            .second-row,
            .third-row {
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                height: auto;
            }

            .link,
            .logo,
            .copyright {
                transform: none;
                margin: 5% auto;
                width: 80%;
                max-width: 20rem;
                height: 3rem;
                font-size: 1.125rem;
            }

            .link-social {
                background: none;
                box-shadow: none;
                width: 80%;

                img {
                    width: 2rem;
                    height: 2rem;
                }
            }


            .logo {
                margin-top: 1.5rem;
                justify-content: center;

                img {
                    width: 20px;
                    height: 20px;
                }
            }

            .copyright {
                margin-top: 0.5rem;
                justify-content: center;
                text-align: center;
                color: $deep-green;
                font-size: 0.75rem;
            }
        }
    }
}